html,
body {
    height: 100%;
    width: 100%;
}
.fullpage-wrapper{
    top: 45px;
}
.text-right{
    text-align: right;
}
.section {
    display: table;
}
.section-table {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.section-table img{
    width: 70%;
}

.navbar-header-lower li {
    padding: 0 20px !important;
    font-size: 11.5px !important;
    font-weight: 600;
}

.kith{
    font-size: 24px
}
.back-arrow {
    margin-left: -40%;
}

.navbar {
    position: absolute;
}

.container {
    height: 100%;
}


/*Educational-approach panel */
.educational-approach{
    padding-top: 120px;
}
.educational-approach p:nth-child(1){
    color: #333;
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: 600;
}
.educational-approach p:nth-child(2){
    color: #333;
    font-size: 20px;
}
.educational-approach .img-container{
    position: relative;
    display: inline-block;
    width: 45%;
}
.educational-approach .img-container > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #fff;
    width: 100%;
}
.educational-approach .img-container > div:after{
    /*content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    background: #fff;
    display: inline-block;
    bottom: -15px;
    right: 20%;*/
}
.educational-approach img {
    width: 100%;
}



/*curriculum section*/
.curriculum-section{
    padding-left: 5%;
}
.curriculum-section .section-table img{
    display: inline-block;
    float: right;
}
.curriculum-section .section-table .title{
    font-size: 24px;
    font-weight: 100;
    color: #666;
    text-align: left;
}
.curriculum-section .section-table .subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #666;
    text-align: left;
}
.curriculum-section .section-table .text{
    font-size: 16px;
    font-weight: 300;
    color: #666;
    margin-top: 12px;
    text-align: left;
    width: 70%;
}

/*Classroom section*/
.classroom-section{
    margin-top: 100px;
}
.classroom-section .content{
    text-align: center;
}
.classroom-section .content .title{
    font-size: 32px;
    color: #333;
    font-weight: 600;
}
.classroom-section .content .subtitle{
    font-size: 18px;
}
.classroom-section .content .text{
    font-size: 16px;
    color: #666;
    margin-top: 12px;
    font-weight: 300;
}

.classroom-section .img-wrapper{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.classroom-section .img-wrapper img{
    width: 70%;
    margin: 0 auto;
    display: block;
}

/*Real world Application*/ 
.real-world-application{
    margin-top: 150px;
}
.real-world-application .section-table img{
    display: inline-block;
    float: right;
    width: 80%;
    margin-right: 20%;
}
.real-world-application .section-table .title{
    font-size: 32px;
    font-weight: 600;
    color: #333;
    text-align: left;
    padding-left: 15%;
}
.real-world-application .section-table .content{
    position: absolute;
    top: 62%;
    left: 40%;
    transform: translate(-50%,0%);
    font-size: 30px;
    color: #000;
    width: 55%;
}
.real-world-application .section-table .content .subtitle{
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}
.real-world-application .section-table .content .subtitle span{
    color: #0071BC;
}
.real-world-application .section-table .content .text{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}

/*Digital tools Section*/
.digital-tools-section .left-image{
    float: left;
    width: 30%;
}
.digital-tools-section .left-image img{
    margin-left: -35%;
    width: 100%;
}
.digital-tools-section .content{
    float: left;
    width: 40%;
    text-align: center;
}
.digital-tools-section .content .title{
    font-size: 50px;
    margin-bottom: 12px;
    font-weight: 600;
}
.digital-tools-section .content .subtitle{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
}
.digital-tools-section .content .text{
    font-size: 20px;
    font-weight: 300;
}
.digital-tools-section .right-image{
    float: left;
    width: 30%;
}
.digital-tools-section .right-image img{
    margin-left: 60%;
    width: 100%;
}


/*continuous-innovations*/
.continuous-innovations{
    margin-top: 150px;
}
.continuous-innovations .title{
    font-size: 18px;
    font-weight: 300;
}
.continuous-innovations .subtitle{
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
}
.continuous-innovations img{
    width: 45%;
    margin-top: 50px;
}
.continuous-innovations .text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 100px;
    width: 60%;
    margin: 0 auto;
    margin-top: 70px;
}



/*Right side Navigation */
.fp-auto-height-responsive {
    min-height: 568px !important;
    min-width: 320px !important;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #fff !important;
    border-radius: 5px !important;
    border: 2px solid #fff !important;
    width: 12px !important;
    height: 12px !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    background: transparent !important;
    border: 2px solid #fff;
    margin: -2px 0 0 -2px !important;
    border-radius: 5px;
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 980px) {
    .educational-approach{
        padding-top: 35%;
    }
    .educational-approach .img-container{
        width: 95%;
    }
    .educational-approach img{
        width: 80%;
        margin-top: 25px;
    }
    .educational-approach .img-container > div{
        font-size: 16px;
    }

    .curriculum-section{
        padding-left: 0;
    }
    .curriculum-section .section-table .title{
        text-align: center;  
        font-size: 16px; 
    }
    .curriculum-section .section-table .subtitle{
        text-align: center;
        font-weight: 600;
        color: #000;
    }
    .curriculum-section .section-table .text{
        text-align: left;
        width: 100%;
        padding: 50px;
        font-size: 19px;
        color: #333;
        font-weight: 300;
        box-shadow: 0px 0px 100px rgba(0,0,0,0.3);
        margin-top: 70px;
    }
    .curriculum-section .img-wrapper{
        display: none;
    }


    .classroom-section .img-wrapper img{
        width: 90%;
    }
    .classroom-section .img-wrapper{
        margin-top: 50px;
    }
    .classroom-section .content{
        margin-top: 70px;
    }

    .real-world-application{
        margin-top: 50px;
    }

    .real-world-application .section-table .title{
        font-size: 22px;
        text-align: center;
        padding-left: 0px;
    }
    .real-world-application .section-table img{
        float: none;
        width: 95%;
        margin-right: 0%;
        box-shadow: 0px 0px 100px rgba(0,0,0,0.3);
        margin-top: 50px;
    }
    .real-world-application .section-table .content{
        left: 50%;
        top:65%;
    }
    .real-world-application .section-table .content .subtitle{
        font-size: 20px;
    }



    .digital-tools-section .left-image{
        display: none;
    }
    .digital-tools-section .right-image{
        display: none;
    }
    .digital-tools-section .content{
        float: none;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .digital-tools-section .content .title{
        font-size: 20px;
        margin-bottom: 6px;
    }
    .digital-tools-section .content .subtitle{
        font-size: 12px;
    }
    .digital-tools-section .content .text{
        box-shadow: 0px 0px 100px rgba(0,0,0,0.3);
        padding: 50px;
    }
    .digital-tools-section .content .text p{
        text-align: left;
        font-size: 20px;
        color: #000;
    }


    .continuous-innovations .title{
        font-size: 14px;
    }
    .continuous-innovations .subtitle{
        font-size: 18px;
        font-weight: 300;
        margin-top: 0px;
    }
    .continuous-innovations img{
        width: 70%;
    }
    .continuous-innovations .text {
        background: #efefef;
        padding: 30px 40px;
        text-align: left;
        width: 100%;
        font-size: 16px;
        font-weight: 300;
    }
}

@media only screen and (min-width: 780px) and (max-width: 980px) {
    .educational-approach .img-container > div {
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 780px) {
    .educational-approach{
        padding-top: 15% !important;
    }
    .real-world-application .section-table img{
        width: 65% !important;
    }
}

@media only screen and (min-width: 781px) and (max-width: 1024px) {
    .educational-approach{
        padding-top: 15% !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .curriculum img {
        width: 70% !important;
    }
    .digital-tools img {
        width: 60% !important;
    }
}


/* Extra Small Devices, Phones */

/*@media only screen and (min-width: 375px) and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 13px;
    }
    .curriculum img {
        width: 70%;
    }
    .digital-tools img {
        width: 70%;
    }
}*/

/*@media only screen and (max-width: 480px) {}

@media only screen and (min-width: 481px) {}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .curriculum img {
        width: 55%;
    }
    .digital-tools img {
        width: 45%;
    }
}*/


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    .section-table {
        display: table;
    }
    .container {
        text-align: center;
    }
    .curriculum img {
        padding-top: 20px;
    }
    .curriculum img,
    .digital-tools img {
        display: table-footer-group;
        margin: 0 auto;
    }
    .curriculum,
    .digital-tools {
        text-align: center;
        display: table-header-group;
    }
    .navbar-toggle {
        float: none;
        margin-right: 0;
    }
    .header-lower-toggle-button {
        margin: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .header-lower-arrow-down {
        font-size: 15px;
    }
    #header-lower li {
        font-size: 11px !important;
        display: block !important;
    }
}

@media only screen and (min-width: 768px) {
    #myNavbar {
        padding: 0 !important;
    }
}

/*@media only screen and (min-width: 768px) and (max-width: 1023px) {}*/


/* Medium Devices, Desktops */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #header-lower ul {
        width: 100%;
    }
    #header-lower li {
        font-size: 10px !important;
        padding: 0 10px !important;
    }
}

/*@media only screen and (max-width: 900px) {}/**/

/*@media only screen and (min-width: 992px) and (max-width: 1023px) {}*/


/* Large Devices, Wide Screens */

/*@media (max-width: 1024px) {}

@media (min-width: 1024px) and (max-width: 1200px) {}*/

@media only screen and (min-width: 1069px) {}

