

@media only screen and (min-width: 780px) {

    .page-title {

        background-image: url("/static/img/History.jpg");
        background-position: bottom;
        background-size: contain;
        /*background-repeat: no-repeat;*/
    }

}

@media only screen and (max-width: 780px) {

    .page-title {
        background: #7F7FD5; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}
