/*General Style*/
.small-devices{
	display: none;
}
.large-devices{
	display: block;
}
.margin-50{
	margin-bottom: 50px;
}

/*Home Stye*/
.landing-page-banner{
	text-align: center;
	padding-top: 45px;
}
.landing-page-banner .desc-content.large-devices{
	margin-top: 45px;
}
.landing-page-banner .desc-content div:nth-child(1){
	font-size: 20px;
    font-weight: 400;
}
.landing-page-banner .desc-content div:nth-child(2){
	font-size: 28px;
    font-weight: 700;
}
.landing-page-banner .bus-image{
	margin: 30px 0px;
}

.blocks-col{
	background-color: #f2f2f2;
	padding: 50px 20px;
	min-height: 250px;
	margin-bottom: 20px;
}
.blocks-col .content{
	font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}
.blocks-col picture img{
	width: 70px;
}
.no-left-padding{
	padding-left: 0px !important;
}

/*Media Queries*/
@media only screen and (max-width: 480px) {
	.large-devices{
		display: none;
	}
	.small-devices{
		display: block;
	}
}

.blocks-col a{
	text-decoration: none;

}