@media only screen and (min-width: 780px) {

    .rural-text h1 {
        padding-top: 5%;
        font-size: 48px;
    }

    .rural-text p {
        font-size: 20px;
    }

    .rural-text li {
        font-size: 20px;
    }

    .rural-text strong {
        font-size: 22px;
    }

    .img-custom {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 780px) {

    .rural-text p {
        font-size: 18px;
    }

    .rural-text h1 {
        padding-top: 12%;
        font-size: 30px;
    }

    .rural-text li {
        font-size: 18px;
    }
    .rural-text strong {
        font-size: 20px;
    }

    .img-custom {
        margin: 0 auto;
    }

}