.kith-financials-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  margin: 50px auto;
  margin-top: 30px;
}
.kith-financials-each-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.kith-financials-head {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}
.kith-financials-para {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 10px 0px;
}
.k-f-sub-each-cat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0px;
}
.kith-financials-head2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
.k-f-sub-each-cat ul {
  margin: 0;
}

.k-f-sub-each-cat ul li {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  padding: 2px 0px;
  list-style-type: disc;
}

.kith-estimator-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.kith-est-left-cont {
  width: 40%;
}
.kith-est-right-cont {
  width: 40%;
  margin-left: 10%;
}

.kith-est-left-each-cont {
  width: 100%;
  padding: 20px 0px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* height: 50px; */
}
.kith-est-right-each-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50px;
}
.kith-cost-est-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 100px;
}
.kith-cost-at-head {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 10px;
}
.kith-cost-at-para {
  font-size: 19px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 0;
  bottom: 0;
  height: 25px;
  width: 50px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.kith-est-head {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  align-self: center;
}

.kith-est-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
.kith-est-label-sec{
  display: flex;
  justify-content: space-between;
}

.kith-est-left-multi-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0px;
}
.kith-select-list {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  /* width: 300px; */
  width: 100%;
  border-radius: 5px;
  margin: 6px 0px;
  outline: none;
  cursor: pointer;
  /* font-size: 14px; */
  border: 1.5px solid #ccc;
  /* border-color: rgb(92, 94, 98); */
  color: rgb(92, 94, 98);
  padding: 2px;
}

.kith-select-list:focus {
  border-color: #2196f3;
  border-width: 2px; /* Change to the desired focus color */
}
.disabledColor {
  color: #ccc;
}
.financials-calc-btn {
  height: 40px;
  width: 200px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .kith-financials-container {
    width: 92%;
  }
}

@media screen and (max-width: 900px) {
  .kith-est-left-cont {
    width: 50%;
  }
}



@media screen and (max-width: 748px) {
  .kith-financials-head {
    font-size: 24px;
  }
  .kith-financials-para {
    font-size: 16px;
  }
}









.switch-box {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  /* border-radius: 50px; */
  margin-bottom: 20px;
  width: calc(40% - 20px);
  cursor: pointer;
}

.switch-box.active {
  border: 1.5px solid black;
  background-color: #f7f7f7;
}

.switch-box.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* .kith-est-label {
  margin-right: 10px;
  width: 80%;
} */

.disabledColor {
  color: #d3d3d3;
}
