<footer class="footer">
    <div class="top-section">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="title">
                <span>About Lokarpan</span>
                <span class="exapnd-nav">+</span>
            </div>
            <div class="links-wrapper">
                <a class="links" href="mission.html">Our mission</a>
                <a class="links" href="annual-report.html">Lokarpan Info</a>
                <a class="links" href="report-page.html">Publications</a>
                <a class="links" href="about-staff.html">Our Team</a>
                <a class="links" href="about-interns.html">Our Interns</a>
                <a class="links" href="about-board.html">Our Board</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="title">
                <span>Contact Us</span>
                <span class="exapnd-nav">+</span>
            </div>
            <div class="links-wrapper">
                <a class="links" href="https://lokarpan.typeform.com/to/f3Rgzw">Get in Touch</a>
                <a class="links" href="#">Press</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="title">
                <span>Social</span>
                <span class="exapnd-nav">+</span>
            </div>
            <div class="links-wrapper">
                <a class="links" href="https://www.facebook.com/knkmalhausi/">Facebook</a>
                <a class="links" href="https://medium.com/lokarpan">Blog</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="title">
                <span>Contribute</span>
                <span class="exapnd-nav">+</span>
            </div>
            <div class="links-wrapper">
                <a class="links" href="support-donate.html">Donate</a>
                <a class="links" href="support-volunteer.html">Volunteer</a>
                <a class="links" href="support-our-supporters.html">Our Supporters</a>
            </div>
        </div>
    </div>
    <div class="container bottom-section">
        <div class="copyright-container">
            <span class="copyright">Copyright © 2018 Lokarpan Inc. All rights reserved.</span>
        </div>
        <ul class="footer-links">
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-of-use.html">Terms of Use</a></li>
        </ul>
    </div>
</footer>
