{% load static %}
{% load app_tags %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lokarpan: Privacy Policy</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- for Google -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="application-name" content="">
    <!-- for Facebook -->
    <meta property="og:title" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <!-- for Twitter -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/hamburgers.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href=" {% static 'css/icon-style.css' %}">
    <link rel="stylesheet" href=" {% static 'css/annual-report.css' %}">
    <link rel="stylesheet" href=" {% static 'css/privacy-policy.css' %}">


    <!-- Favicons -->
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static  'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static  'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static  'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static  'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- Content -->
<!-- Navbar -->
<div class="full-height"></div>

<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="hamburger hamburger--emphatic-r pull-left navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only hamburger-box">
                            <span class="hamburger-inner"></span>
                    </span>
            </button>

            <div class="for-mobile search-dropdown back-arrow hide-navbar">
                <a href="#" class="back">
                    <i class="fa fa-angle-up fa-2x"></i>
                </a>
            </div>
            <div class="navbar-brand">
                <a href="index.html">
                    <img src="{% static 'img/Lokarpan.svg' %}">
                </a>
            </div>
            <a class="pull-right user-container for-mobile" href="http://app.lokarpan.org">
                <i class="icon icon-user user-icon"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav header-ul" id="header-ul">
                <li class="header-li main-li"><a href="education.html">Education</a></li>
                <li class="header-li main-li"><a href="about.html">About</a></li>
                <li class="header-li main-li"><a href="history.html">History</a></li>
                <li class="header-li main-li"><a href="support.html">Support</a></li>
                <li class="for-mobile search-dropdown search-dropdown-div" id="search-mobile">
                    <a href="#">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon icon-search search-icon-mobile"></i>
                                </span>
                            <input type="text" name="search" class="search-box-dropdown" placeholder="Search"
                                   autocomplete="off"/>
                        </div>
                    </a>
                    <div class="quick-links quick-links-mobile for-mobile">
                        <h5>Quick Links</h5>
                        <ul>
                            <li class="quick-links-li"><a href="global-reports.html">Lokarpan Info</a></li>
                            <li class="quick-links-li"><a href="education.html">Education</a></li>
                            <li class="quick-links-li"><a href="#">Donate</a></li>
                            <li class="quick-links-li"><a href="#">Volunteer</a></li>
                        </ul>
                    </div>
                </li>
                <li class="header-li main-li" id="search-click">
                    <a href="#"><i class="icon icon-search search-icon-mobile"></i>
                        <span class="search-hide">Search</span>
                    </a>
                </li>
                <li class="for-desktop main-li-2 search-dropdown-desktop pull-left">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon icon-search"></i>
                            </span>
                        <input type="text" name="search" class="search-box-dropdown" placeholder="Search"
                               autocomplete="off"/>
                    </div>
                    <div class="quick-links main-li-2 for-desktop">
                        <h5>Quick Links</h5>
                        <ul>
                            <li class="quick-links-li"><a href="global-reports.html">Lokarpan Info</a></li>
                            <li class="quick-links-li"><a href="education.html">Education</a></li>
                            <li class="quick-links-li"><a href="#">Donate</a></li>
                            <li class="quick-links-li"><a href="#">Volunteer</a></li>
                        </ul>
                    </div>
                </li>
                <li class="for-desktop pull-left close-for-desktop main-li-2">
                    <a href="#">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="main-li for-desktop user-container-li">
                    <a class="pull-right user-container" href="http://app.lokarpan.org/"">
                    <i class="icon icon-user user-icon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container privacy-text" style="padding-top: 50px">
    <div class="privacy-heading">
    <h1 class="center-pc">Privacy Policy</h1>
    </div>
    <p class="center-pc"><strong>The Lokarpan Privacy Policy was updated on&nbsp;</strong><strong>May 06, 2018.</strong></p>
    <p class="center-pc">Your privacy is important to us. Please take a moment to familiarize yourself with our privacy&nbsp;practices.&nbsp;</p>
    <div class="text-left" >
        <hr>
        <p><strong>Collection and Use of Personal Information</strong></p>

        <p>Personal information is data that can be used to identify or contact a single person.</p>
        <p>You may be asked to provide your personal information anytime you are in contact with Lokarpan or an
            affiliated
            company. Lokarpan and its affiliates may share this personal information with each other and use it
            consistent
            with this Privacy Policy. They may also combine it with other information to provide and improve our
            products,
            services, content, and advertising. You are not required to provide the personal information that we have
            requested, but, if you chose not to do so, in many cases we will not be able to provide you with our
            products or
            services or respond to any queries you may have.</p>
        <p>Here are some examples of the types of personal information Lokarpan may collect and how we may use it:</p>
        <p><strong>What personal information we collect</strong></p>
        <p>When you create a Lokarpan ID, register for a class at Kith n Kin, contact us or participate in an online
            survey,
            we may collect a variety of information, including your name, mailing address, phone number, email address,
            contact preferences, and debit/credit card information.</p>
        <p>In certain jurisdictions, we may ask for a government issued ID in limited circumstances including when
            registering donors, volunteers, teachers, staff and students for the purpose of extending commercial credit,
            managing reservations, or as required by law.</p>
        <p><strong>How we use your personal information</strong></p>
        <p>The personal information we collect allows us to keep you posted on Lokarpan&rsquo;s latest project
            announcements, software updates, and upcoming events. If you don&rsquo;t want to be on our mailing list, you
            can
            opt out anytime by clicking "Unsubscribe".</p>
        <p>We also use personal information to help us create, develop, operate, deliver, and improve our products,
            services, content and advertising, and for loss prevention and anti-fraud purposes.</p>
        <p>We may use your personal information, including date of birth, to verify identity, assist with identification
            of
            users, and to determine appropriate services. For example, we may use date of birth to determine the age of
            Lokarpan ID account holders.</p>
        <p>From time to time, we may use your personal information to send important notices, such as communications
            about
            billings and changes to our terms, conditions, and policies. Because this information is important to your
            interaction with Lokarpan, you may not opt out of receiving these communications.</p>
        <p>We may also use personal information for internal purposes such as auditing, data analysis, and research to
            improve products, services, and customer communications.</p>
        <p>If you enter into a sweepstake, contest, or similar promotion we may use the information you provide to
            administer those programs.</p>
        <p><strong>Cookies and Other Technologies</strong></p>
        <p>Our websites, online services, interactive applications, email messages, and advertisements may use "cookies"
            and
            other technologies such as pixel tags and web beacons. These technologies help us better understand user
            behavior, tell us which parts of our websites people have visited, and facilitate and measure the
            effectiveness
            of advertisements and web searches. We treat information collected by cookies and other technologies as
            non‑personal information. However, to the extent that Internet Protocol (IP) addresses or similar
            identifiers
            are considered personal information by local law, we also treat these identifiers as personal information.
            Similarly, to the extent that non-personal information is combined with personal information, we treat the
            combined information as personal information for the purposes of this Privacy Policy.</p>
        <p>As is true of most internet services, we gather some information automatically and store it in log files.
            This
            information includes Internet Protocol (IP) addresses, browser type and language, Internet service provider
            (ISP), referring and exit websites and applications, operating system, date/time stamp, and clickstream
            data.</p>
        <p>We use this information to understand and analyze trends, to administer the site, to learn about user
            behavior on
            the site, to improve our product and services, and to gather demographic information about our user base as
            a
            whole. Lokarpan may use this information in our marketing and advertising services.</p>
        <p>In some of our email messages, we use a &ldquo;click-through URL&rdquo; linked to content on the Lokarpan
            website. When customers click one of these URLs, they pass through a separate web server before arriving at
            the
            destination page on our website. We track this click-through data to help us determine interest in
            particular
            topics and measure the effectiveness of our customer communications. If you prefer not to be tracked in this
            way, you should not click text or graphic links in the email messages.</p>
        <p>Pixel tags enable us to send email messages in a format customers can read, and they tell us whether mail has
            been opened. We may use this information to reduce or eliminate messages sent to customers.</p>
        <p><strong>Disclosure to Third Parties</strong></p>
        <p>At times Lokarpan may make certain personal information available to strategic partners that work with us to
            provide products and services. Personal information will only be shared by Lokarpan to provide or improve
            our
            products, services and campaigns; it will not be shared with third parties for their marketing purposes.</p>
        <p>It may be necessary &minus; by law, legal process, litigation, and/or requests from public and governmental
            authorities within or outside your country of residence &minus; for Lokarpan to disclose your personal
            information. We may also disclose information about you if we determine that for purposes of national
            security,
            law enforcement, or other issues of public importance, disclosure is necessary or appropriate.</p>
        <p>We may also disclose information about you if we determine that disclosure is reasonably necessary to enforce
            our
            terms and conditions or protect our operations or users. Additionally, in the event of a reorganization,
            merger,
            or sale we may transfer any and all personal information we collect to the relevant third party.</p>
        <p><strong>Children &amp; Education</strong></p>
        <p>We understand the importance of taking extra precautions to protect the privacy and safety of children using
            our
            products and services. Children under the age of 13, or equivalent minimum age in the relevant jurisdiction,
            are
            not permitted to create their own Lokarpan IDs, unless their parent provided verifiable consent or as part
            of
            the child account creation process through their school. In addition, schools that participate in using our
            technologies and have reviewed and consented our Privacy Policy may create Lokarpan IDs for students.</p>
        <p><strong>Commitment to Your Privacy</strong></p>
        <p>To make sure your personal information is secure, we communicate our privacy and security guidelines to
            Lokarpan
            employees and strictly enforce privacy safeguards within the company.</p>
        <p>This Privacy Policy (&ldquo;Privacy Policy&rdquo;) is published in accordance with: (i) Section 43A of the
            Information Technology Act, 2000; (ii) Regulation 4 of the Information Technology (Reasonable security
            practices
            and procedures and sensitive personal information) Rules, 2011 (&ldquo;SPI Rules&rdquo;); and (iii)
            Regulation
            3(1) of the Information Technology (Intermediaries Guidelines) Rules, 2011.</p>
        <p>For the purpose of this Privacy Policy, &ldquo;personal information&rdquo; as defined under Section 2(i) of
            the
            SPI Rules means, any information that relates to a natural person, which, either directly or indirectly, in
            combination with other information available or likely to be available with a body corporate, is capable of
            identifying such person.</p>
        <p><strong>Privacy Questions</strong></p>
        <p>If you have any questions or concerns about Lokarpan&rsquo;s Privacy Policy or data processing or if you
            would
            like to make a complaint about a possible breach of local privacy laws, please contact us.</p>
        <p>We may update its Privacy Policy from time to time. A notice will be posted on our website along with the
            updated
            Privacy Policy.</p>
        <p><strong>Lokarpan Village and Post Malhausi, District Auraiya, Uttar Pradesh, India, 20625.</strong></p>
        <br><br><br><br>
    </div>
</div>

<!-- Footer -->
{% include 'footer-common.html' %}

<!-- Scripts -->

<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/about.js' %}"></script>
<script src="{% static 'js/navbar-lower.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %} "></script>
<script src="{% static 'js/vendor/velocity.ui.js' %}"></script>
<script src="{% static 'js/navbar.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
<script src="{% static 'js/team.js' %} "></script>
<script src="{% static 'js/jquery.mousewheel.js' %} "></script>
<script src="{% static 'js/jquery.scrolltabs.js' %} "></script>
</body>

</html>
