{% load static %}
{% load app_tags %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lokarpan: Reports</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- for Google -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="application-name" content="">
    <!-- for Facebook -->
    <meta property="og:title" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <!-- for Twitter -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/hamburgers.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href=" {% static 'css/icon-style.css' %}">
    <link rel="stylesheet" href=" {% static 'css/rural-education.css' %}">


    <!-- Favicons -->
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/icon">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static  'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static  'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static  'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static  'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- Content -->
<!-- Navbar -->
<div class="full-height"></div>

<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="hamburger hamburger--emphatic-r pull-left navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only hamburger-box">
                            <span class="hamburger-inner"></span>
                    </span>
            </button>

            <div class="for-mobile search-dropdown back-arrow hide-navbar">
                <a href="#" class="back">
                    <i class="fa fa-angle-up fa-2x"></i>
                </a>
            </div>
            <div class="navbar-brand">
                <a href="index.html">
                    <img src="{% static 'img/Lokarpan.svg' %}">
                </a>
            </div>
            <a class="pull-right user-container for-mobile" href="http://app.lokarpan.com">
                <i class="icon icon-user user-icon"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav header-ul" id="header-ul">
                <li class="header-li main-li"><a href="education.html">Education</a></li>
                <li class="header-li main-li"><a href="about.html">About</a></li>
                <li class="header-li main-li"><a href="history.html">History</a></li>
                <li class="header-li main-li"><a href="support.html">Support</a></li>
                <li class="for-mobile search-dropdown search-dropdown-div" id="search-mobile">
                    <a href="#">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon icon-search search-icon-mobile"></i>
                                </span>
                            <input type="text" name="search" class="search-box-dropdown" placeholder="Search"
                                   autocomplete="off"/>
                        </div>
                    </a>
                    <div class="quick-links quick-links-mobile for-mobile">
                        <h5>Quick Links</h5>
                        <ul>
                            <li class="quick-links-li"><a href="annual-report.html">Lokarpan Info</a></li>
                            <li class="quick-links-li"><a href="education.html">Education</a></li>
                            <li class="quick-links-li"><a href="#">Donate</a></li>
                            <li class="quick-links-li"><a href="#">Volunteer</a></li>
                        </ul>
                    </div>
                </li>
                <li class="header-li main-li" id="search-click">
                    <a href="#"><i class="icon icon-search search-icon-mobile"></i>
                        <span class="search-hide">Search</span>
                    </a>
                </li>
                <li class="for-desktop main-li-2 search-dropdown-desktop pull-left">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon icon-search"></i>
                            </span>
                        <input type="text" name="search" class="search-box-dropdown" placeholder="Search"
                               autocomplete="off"/>
                    </div>
                    <div class="quick-links main-li-2 for-desktop">
                        <h5>Quick Links</h5>
                        <ul>
                            <li class="quick-links-li"><a href="annual-report.html">Lokarpan Info</a></li>
                            <li class="quick-links-li"><a href="education.html">Education</a></li>
                            <li class="quick-links-li"><a href="#">Donate</a></li>
                            <li class="quick-links-li"><a href="#">Volunteer</a></li>
                        </ul>
                    </div>
                </li>
                <li class="for-desktop pull-left close-for-desktop main-li-2">
                    <a href="#">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="main-li for-desktop user-container-li">
                    <a class="pull-right user-container" href="http://app.lokarpan.com/"">
                    <i class="icon icon-user user-icon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container rural-text">
    <h1 class="text-center">Problems in rural education</h1>
    <h2><strong>Summary:</strong></h2>
    <p>There is a noticeable difference in the academic performance of public and private schools.
        The gap is even steeper when we introduce the location of a school as a variable. Children from urban societies
        perform far better than students from the rural districts of our country</p>
    <p>The truth is that today, more than 50% of students in Grade 5 cannot read a Grade 2 text or solve a simple
        subtraction problem. The truth is that today, the socio-economic circumstances that a child is born into
        determines the type of school she attends, the kinds of co-curricular opportunities that are available to her,
        the quality of life outcomes she attains as an adult, and the kinds of opportunities she passes on to her own
        children. It is our duty to provide equal opportunities to every child in our country. This requires innovative
        thinking and support.</p>
    <p>India's future depends on its children. Socio economic conditions should not be a bottleneck to a child's future
        and dormant abilities. We must stress on the quality of education provided to a child-</p>
    <ul>
        <li>Drop-out rates remain high</li>
        <li>Children do not perform well</li>
        <li>Money and resources are wasted</li>
    </ul>

    <p>We believe that it will take a movement of leaders with the drive, skills, and commitment to actualize this
        vision. The effort to eliminate educational inequity
        Every problem has a solution. Complex problems simply require investment of time and effort. An open attitude to
        ideas from key stakeholders in education will go a long way in improving the school system and mobilising
        resources for support.</p>
    <p><strong>Kith n Kin:</strong></p>
    <p>The Kith and Kin School was established in April 2014 to improve education levels in the district of Auraiya,
        Uttar Pradesh.</p>
    <p>Low income schools lag significantly behind private schools in terms of academic achievement. Lokarpan strives
        towards a vision that one day all children will attain excellent education. Educational equity will ensure that
        all children have the opportunity to reach their potential. And the day that all children reach their potential
        is the day that India reaches her potential.</p>

    <p>The schools mission is to build a complete ecosystem revolving around the parent, student and the teacher.</p>

    <p>The school heavily invests in a specially designed curriculum to address learning gaps in children, better
        teaching tools, skill development and technology to build a platform. The objective is to integrate technology
        to aid and not replace teachers in delivering core curriculum.</p>

    <p><strong>Solution:</strong></p>
    <ol>
        <li>Help teachers to learn the necessary skills to formulate lesson plans that stimulate student learning and
            thus contribute to improving the quality of Mathematics and Science education.
        </li>
    </ol>

    <ol start="2">
        <li>Boost partnerships with institutes of higher education and research, including technical and professional
            education, schools, vocational education and training.
        </li>
    </ol>

    <ol start="3">
        <li>Infrastructure investment in the education sector.</li>
    </ol>

    <p>In short,</p>
    <ul>
        <li>Increase financial support for projects</li>
        <li>Train better teachers</li>
        <li>Test students differently</li>
        <li>Provide better tools for a child's development</li>
        <li>Leverage technology for cost reduction and quality improvement. This should not be a mutually exclusive
            relationship.
        </li>
    </ul>
    <p><strong>Avenues to explore:</strong></p>
    <p>The answer is to design a delivery system that revolutionizes education on a system level. That implies no
        aesthetic changes or small fixes.</p>
    <ol>
        <li>Teacher as curator vs. "sage on the stage" this blows apart the "banking model of education" is which info
            is dumped into the brains of students.
        </li>
        <li>Project-based learning.&nbsp; Teams and collaboration. (KIPP I believe is big on this)</li>
        <li>Experiential learning.&nbsp; This is backed up by education theorists since John Dewey (one of the founders
            of American pragmatism).&nbsp; Kolb at Ohio is one of the main proponents, but certainly the TED talk on
            Tinkering backs this up.
        </li>
        <li>Real world mentors.&nbsp; Skype creates the ability to bring experts into the classroom virtually and record
            them for later use.
        </li>
        <li>Kids teaching kids.&nbsp;</li>
        <li>De-centered due to internet &amp; social media</li>
        <li>Time-shifting due to internet &amp; social media</li>
        <li>Crowdsourced (and collaborative/networked) due to internet &amp; social media</li>
        <li>More data-driven</li>
        <li>Mobile as a platform for learning (and shared content or dataset creation)</li>
        <li>Gamification of learning</li>
    </ol>

    <p>The information contained in the material is meant for internal purposes and use only the personnel of Lokarpan,
        its member firms, and their related entities. The recipient is strictly prohibited from further circulation of
        this material. Any breach of this requirement may invite disciplinary action (which may include dismissal)
        and/or prosecution. None of the Lokarpan Network shall be responsible for any loss whatsoever sustained by any
        person who relies on this material.</p>
    <img class="img-responsive img-custom" src="https://lh3.googleusercontent.com/-f9vu71G8z4g/W47PBupiBHI/AAAAAAAADYI/u3x-zdIb3vgBDWXRMr3eL0wtArfEjLmtwCL0BGAYYCw/h600/2018-09-04.png">
</div>

<!-- Footer -->
{% include 'footer-common.html' %}

<!-- Scripts -->

<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/about.js' %}"></script>
<script src="{% static 'js/navbar-lower.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/velocity.min.js' %} "></script>
<script src="{% static 'js/vendor/velocity.ui.js' %}"></script>
<script src="{% static 'js/navbar.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
<script src="{% static 'js/team.js' %} "></script>
<script src="{% static 'js/jquery.mousewheel.js' %} "></script>
<script src="{% static 'js/jquery.scrolltabs.js' %} "></script>
</body>

</html>
